<% include include/header.ejs%>
<div class="container">
 <ul class="media-list">
  <%
  articles.forEach(function(article){
  %>
  <li class="media">
   <div class="media-left">
    <a href="#">
     <img class="media-object" src="<%=article.user.avatar%>" alt="">
    </a>
   </div>
   <div class="media-body">
    <h4 class="media-heading"><a href="/articles/detail/<%=article._id%>"><%=article.title%></a></h4>
    <p class="media-left"><%- article.content%></p>
    <p class="media-right"></p>
    <%if(article.img){%>
    <img src="<%=article.img%>" style="width:100px;height:100px" alt=""/>
    <%}%>
   </div>
   <div class="media-bottom">
    作者:<%=article.user.username%>|
    发表时间:<%=article.createAt.toLocaleString()%>|
    阅读：<%= article.pv %>|
    评论：<%= article.comments.length%>
   </div>
  </li>
  <%
  });
  %>
 </ul>
</div>
<nav>
 <ul class="pagination">
  <%
  for(var i=1;i<=totalPage;i++){
  %>
  <li><a href="/articles/list/<%=i%>/<%=pageSize%>?keyword=<%=keyword%>"><%=i%></a></li>
  <%
  }
  %>
 </ul>
</nav>
<% include include/footer.ejs%>